/* AnimeGirlMascot.css */
.l2d-wrap { width: 100%; height: 100%; }
.l2d-canvas-holder { position: relative; width: 100%; height: 100%; overflow: hidden; }
.l2d-canvas-holder canvas { display: block; width: 100% !important; height: 100% !important; }
