@tailwind base;
@tailwind components;
@tailwind utilities;


/* Leaflet styles */
@import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* Line clamp utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ql-editor .ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-editor .ql-align-right img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.bg-dragon {
  background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("https://res.cloudinary.com/dea92gqx4/image/upload/v1760761310/Gemini_Generated_Image_jvaivpjvaivpjvai_q0bprz.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 6px;
}

.chat-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.7);
}
