@tailwind base;
@tailwind components;
@tailwind utilities;


/* Leaflet styles */
@import "leaflet/dist/leaflet.css";

/* Line clamp utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ql-editor .ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-editor .ql-align-right img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}